In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
import pandas as pd

In [13]:
df = pd.read_csv('/content/drive/My Drive/MLDevelopers/Submission_1/Question_Classification_Dataset.csv')
df

      Unnamed: 0  ... Category2
0              0  ...    manner
1              1  ...    cremat
2              2  ...    manner
3              3  ...    animal
4              4  ...       exp
...          ...  ...       ...
5447        5447  ...     other
5448        5448  ...  currency
5449        5449  ...      temp
5450        5450  ...      temp
5451        5451  ...  currency

[5452 rows x 5 columns]

In [14]:
df = df.drop(columns=['Unnamed: 0','Category1','Category2'])
df

                                              Questions     Category0
0     How did serfdom develop in and then leave Russ...   DESCRIPTION
1      What films featured the character Popeye Doyle ?        ENTITY
2     How can I find a list of celebrities ' real na...   DESCRIPTION
3     What fowl grabs the spotlight after the Chines...        ENTITY
4                       What is the full form of .com ?  ABBREVIATION
...                                                 ...           ...
5447            What 's the shape of a camel 's spine ?        ENTITY
5448           What type of currency is used in China ?        ENTITY
5449                    What is the temperature today ?       NUMERIC
5450              What is the temperature for cooking ?       NUMERIC
5451               What currency is used in Australia ?        ENTITY

[5452 rows x 2 columns]

In [15]:
#proses one hot encoding
category = pd.get_dummies(df.Category0)
df_baru = pd.concat([df,category],axis=1)
df_baru = df_baru.drop(columns='Category0')
df_baru

                                              Questions  ...  NUMERIC
0     How did serfdom develop in and then leave Russ...  ...        0
1      What films featured the character Popeye Doyle ?  ...        0
2     How can I find a list of celebrities ' real na...  ...        0
3     What fowl grabs the spotlight after the Chines...  ...        0
4                       What is the full form of .com ?  ...        0
...                                                 ...  ...      ...
5447            What 's the shape of a camel 's spine ?  ...        0
5448           What type of currency is used in China ?  ...        0
5449                    What is the temperature today ?  ...        1
5450              What is the temperature for cooking ?  ...        1
5451               What currency is used in Australia ?  ...        0

[5452 rows x 7 columns]

In [16]:
#mengubah nilai dari dataframe ke tipe data numpy array
quest = df_baru['Questions'].values
label = df_baru[['ABBREVIATION','DESCRIPTION','ENTITY','HUMAN','LOCATION','NUMERIC']].values

In [17]:
#membagi data untuk training dan testing
from sklearn.model_selection import train_test_split
quest_latih, quest_test, label_latih, label_test = train_test_split(quest, label, test_size=0.2)

In [18]:
#melakukan tokenisasi
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(quest_latih)
tokenizer.fit_on_texts(quest_test)

sekuens_latih = tokenizer.texts_to_sequences(quest_latih)
sekuens_test = tokenizer.texts_to_sequences(quest_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [31]:
#arsitektur model layer embedding dengan dimensi 16
import tensorflow as tf
model = tf.keras.Sequential([
        tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
        tf.keras.layers.LSTM(64),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dense(64, activation='relu'),
        tf.keras.layers.Dense(6, activation='softmax')])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [34]:
#membuat kelas callback
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('val_accuracy')>0.9):
      print("\nAkurasi telah mencapai >90%!")
      self.model.stop_training = True
callbacks = myCallback()

In [35]:
#melatih model
num_epochs = 30
history = model.fit(padded_latih, 
                    label_latih, 
                    epochs=num_epochs,
                    validation_data=(padded_test,label_test), 
                    verbose=2,
                    callbacks=[callbacks])

Epoch 1/30
137/137 - 3s - loss: 0.1500 - accuracy: 0.9496 - val_loss: 0.8163 - val_accuracy: 0.7984
Epoch 2/30
137/137 - 3s - loss: 0.0921 - accuracy: 0.9693 - val_loss: 0.8830 - val_accuracy: 0.7846
Epoch 3/30
137/137 - 3s - loss: 0.0631 - accuracy: 0.9844 - val_loss: 1.0584 - val_accuracy: 0.7910
Epoch 4/30
137/137 - 3s - loss: 0.0439 - accuracy: 0.9890 - val_loss: 1.0176 - val_accuracy: 0.8002
Epoch 5/30
137/137 - 3s - loss: 0.0390 - accuracy: 0.9890 - val_loss: 1.0904 - val_accuracy: 0.7910
Epoch 6/30
137/137 - 3s - loss: 0.0299 - accuracy: 0.9892 - val_loss: 1.2934 - val_accuracy: 0.7782
Epoch 7/30
137/137 - 3s - loss: 0.0209 - accuracy: 0.9938 - val_loss: 1.2475 - val_accuracy: 0.7938
Epoch 8/30
137/137 - 3s - loss: 0.0164 - accuracy: 0.9947 - val_loss: 1.4425 - val_accuracy: 0.7883
Epoch 9/30
137/137 - 3s - loss: 0.0220 - accuracy: 0.9947 - val_loss: 1.4410 - val_accuracy: 0.7764
Epoch 10/30
137/137 - 3s - loss: 0.0234 - accuracy: 0.9945 - val_loss: 1.3666 - val_accuracy: 0.7901
Epoch 11/30
137/137 - 3s - loss: 0.0174 - accuracy: 0.9943 - val_loss: 1.3864 - val_accuracy: 0.7764
Epoch 12/30
137/137 - 3s - loss: 0.0109 - accuracy: 0.9972 - val_loss: 1.5369 - val_accuracy: 0.7837
Epoch 13/30
137/137 - 3s - loss: 0.0102 - accuracy: 0.9972 - val_loss: 1.5500 - val_accuracy: 0.7919
Epoch 14/30
137/137 - 3s - loss: 0.0096 - accuracy: 0.9966 - val_loss: 1.5843 - val_accuracy: 0.7864
Epoch 15/30
137/137 - 3s - loss: 0.0097 - accuracy: 0.9968 - val_loss: 1.7335 - val_accuracy: 0.7681
Epoch 16/30
137/137 - 3s - loss: 0.0067 - accuracy: 0.9979 - val_loss: 1.6814 - val_accuracy: 0.7809
Epoch 17/30
137/137 - 3s - loss: 0.0081 - accuracy: 0.9975 - val_loss: 1.7011 - val_accuracy: 0.7809
Epoch 18/30
137/137 - 3s - loss: 0.0066 - accuracy: 0.9984 - val_loss: 1.8562 - val_accuracy: 0.7800
Epoch 19/30
137/137 - 3s - loss: 0.0081 - accuracy: 0.9970 - val_loss: 1.8602 - val_accuracy: 0.7709
Epoch 20/30
137/137 - 3s - loss: 0.0070 - accuracy: 0.9977 - val_loss: 1.8308 - val_accuracy: 0.7938
Epoch 21/30
137/137 - 3s - loss: 0.0694 - accuracy: 0.9810 - val_loss: 1.2941 - val_accuracy: 0.7855
Epoch 22/30
137/137 - 3s - loss: 0.0191 - accuracy: 0.9938 - val_loss: 1.4318 - val_accuracy: 0.7901
Epoch 23/30
137/137 - 3s - loss: 0.0156 - accuracy: 0.9956 - val_loss: 1.4142 - val_accuracy: 0.7938
Epoch 24/30
137/137 - 3s - loss: 0.0097 - accuracy: 0.9970 - val_loss: 1.5524 - val_accuracy: 0.7929
Epoch 25/30
137/137 - 3s - loss: 0.0082 - accuracy: 0.9975 - val_loss: 1.5284 - val_accuracy: 0.7993
Epoch 26/30
137/137 - 3s - loss: 0.0077 - accuracy: 0.9977 - val_loss: 1.6259 - val_accuracy: 0.7910
Epoch 27/30
137/137 - 3s - loss: 0.0072 - accuracy: 0.9977 - val_loss: 1.6528 - val_accuracy: 0.7883
Epoch 28/30
137/137 - 3s - loss: 0.0065 - accuracy: 0.9977 - val_loss: 1.6781 - val_accuracy: 0.7938
Epoch 29/30
137/137 - 3s - loss: 0.0068 - accuracy: 0.9982 - val_loss: 1.7359 - val_accuracy: 0.7901
Epoch 30/30
137/137 - 3s - loss: 0.0107 - accuracy: 0.9961 - val_loss: 1.7625 - val_accuracy: 0.7947